.margin-20{
	margin: 20px;
}

@media only screen and (min-width: 20.063em) and (max-width: 64em) {   
  .float-left{
    float: left;
  }
}


#blockCard{
	background-color: #E9E9E9;
}

blockquote{
	color:#000;
}
