<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
   
     
    </div>
    
    
      <div class="collapse navbar-collapse" >
    
       <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            
        </div>
      </form> 
      
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chapter <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" *ngFor="#chapteritem of repertoryList.repertoryChapterData">{{chapteritem}}</a></li>
            <!--li role="separator" class="divider"></li!-->
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Checked Items</a></li>
            <li><a href="#">Sort by Ascending</a></li>
            <li><a href="#">Sort by Decending</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Show All Remedies</a></li>
            <li><a href="#">Show Few Remedies</a></li>
            <li><a href="#">Auto-Hide Remedies</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sort by Category</a></li>
          </ul>
        </li>
          <li><a href="#">Report / Graph</a></li>
        <li><a href="#">&nbsp;</a></li>
        
      </ul>
      
      
</div>
 </div><!-- /.container-fluid -->
</nav>
